/*custom navbar position*/

#navtop {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1030;
	width: 100%;
}

@media (min-width: 992px) {
	#navtop .navbar-nav .nav-link.active {
		color: #ffffff !important;
	}
}

.modal-open #navtop {
	padding-right: 17px;
}

.header-product {
	padding-top: 97px;
}

@media (min-width: 992px) {
	.header-product {
		padding-top: 192px;
	}
}

@media (max-width: 991.98px) {
	#productList {
		margin-bottom: 0 !important;
	}
}


/* card product */

.card-product {
	max-width: 210px;
	margin: auto
}